@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Borders */
    --border-width-small: 1px;
    --border-width-medium: 2px;
    --border-width-large: 3px;
    --radius: 0.5rem;
  }
}
