@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../../output.css";
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0f1a;

    --card: #ffffff;
    --card-foreground: #0a0f1a;

    --popover: #ffffff;
    --popover-foreground: #0a0f1a;

    --primary: #7f00ff;
    --primary-foreground: #f5f8ff;

    --secondary: #e5e7eb;
    --secondary-foreground: #1d2731;

    --muted: #f4f7fc;
    --muted-foreground: #778899;

    --accent: #f4f7fc;
    --accent-foreground: #1d2731;

    --destructive: #ff6a00;
    --destructive-foreground: #f5f8ff;

    --border: #e8f0f9;
    --input: #e8f0f9;
    --ring: #0a0f1a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0d0f11;
    --foreground: #f5f8ff;

    --card: #0d0f11;
    --card-foreground: #f5f8ff;

    --popover: #0d0f11;
    --popover-foreground: #f5f8ff;

    --primary: #f5f8ff;
    --primary-foreground: #1e2236;

    --secondary: #2d3748;
    --secondary-foreground: #f5f8ff;

    --muted: #2d3748;
    --muted-foreground: #a8b1c2;

    --accent: #2d3748;
    --accent-foreground: #f5f8ff;

    --destructive: #d14324;
    --destructive-foreground: #f5f8ff;

    --border: #2d3748;
    --input: #2d3748;
    --ring: #d6e1f1;
  }
}

@layer base {
  body {
    @apply text-foreground;
  }

  a {
    @apply underline font-medium text-sm;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .card {
    @apply w-96 bg-white p-6 rounded-xl space-y-6 shadow-md;
  }
}
